INTERCOM_ACCESS_TOKEN=your-intercom-access-token  # developer hub > authentication
INTERCOM_CLIENT_SECRET=your-intercom-client-secret  # developer hub > basic information
OPENAI_API_KEY=your-openai-api-key
